@model IEnumerable<CET322Final.Models.Category>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="Index" asp-route-categoryId="@item.Id">@item.Title</a>
    </li>
}